<header class="lk-clear">
    <div class="lk-squeeze">
        <a href="/" class="logo"><img src="http://placehold.it/100x50" /></a>
        <nav>
            <a href="/team" class="{{#if teamActive}}is-active{{/if}}">Team</a>
            <a href="/work" class="{{#if workActive}}is-active{{/if}}">Work</a>
            <a href="/products" class="{{#if productsActive}}is-active{{/if}}">Products</a>
            <a href="/github" class="{{#if githubActive}}is-active{{/if}}">Github</a>
            <a href="">Blog</a>
            <a href="">Contact</a>
        </nav>
    </div>
</header>