<h1>Team Page</h1>

<div class="flex-container">
	<div class="flex-item">
		<img src="../static/assets/img/placeholder.png" alt="">
		<p class="flex-item-title">Title</p>
		<p class="info">Engineer</p>
	</div>
	<div class="flex-item">
		<img src="../static/assets/img/placeholder.png" alt="">
		<p class="flex-item-title">Title</p>
		<p class="info">Engineer</p>
	</div>
	<div class="flex-item">
		<img src="../static/assets/img/placeholder.png" alt="">
		<p class="flex-item-title">Title</p>
		<p class="info">Engineer</p>
	</div>
	<div class="flex-item">
		<img src="../static/assets/img/placeholder.png" alt="">
		<p class="flex-item-title">Title</p>
		<p class="info">Engineer</p>
	</div>
	<div class="flex-item">
		<img src="../static/assets/img/placeholder.png" alt="">
		<p class="flex-item-title">Title</p>
		<p class="info">Engineer</p>
	</div>
	<div class="flex-item">
		<img src="../static/assets/img/placeholder.png" alt="">
		<p class="flex-item-title">Title</p>
		<p class="info">Engineer</p>
	</div>
	<div class="flex-item">
		<img src="../static/assets/img/placeholder.png" alt="">
		<p class="flex-item-title">Title</p>
		<p class="info">Engineer</p>
	</div>
	<div class="flex-item">
		<img src="../static/assets/img/placeholder.png" alt="">
		<p class="flex-item-title">Title</p>
		<p class="info">Engineer</p>
	</div>
	<div class="flex-item">
		<img src="../static/assets/img/placeholder.png" alt="">
		<p class="flex-item-title">Title</p>
		<p class="info">Engineer</p>
	</div>
</div>