<div class="lk-squeeze">
	<h1>Team Page</h1>
	<div class="flex-container wrap-team">
		<div class="flex-item wrap-member">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97475&w=300&h=350" alt="">
			<p class="flex-item-title">Title</p>
			<p class="info">Engineer</p>
		</div>
		<div class="flex-item wrap-member">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97475&w=300&h=350" alt="">
			<p class="flex-item-title">Title</p>
			<p class="info">Engineer</p>
		</div>
		<div class="flex-item wrap-member">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97475&w=300&h=350" alt="">
			<p class="flex-item-title">Title</p>
			<p class="info">Engineer</p>
		</div>
		<div class="flex-item wrap-member">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97475&w=300&h=350" alt="">
			<p class="flex-item-title">Title</p>
			<p class="info">Engineer</p>
		</div>
		<div class="flex-item wrap-member">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97475&w=300&h=350" alt="">
			<p class="flex-item-title">Title</p>
			<p class="info">Engineer</p>
		</div>
		<div class="flex-item wrap-member">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97475&w=300&h=350" alt="">
			<p class="flex-item-title">Title</p>
			<p class="info">Engineer</p>
		</div>
		<div class="flex-item wrap-member">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97475&w=300&h=350" alt="">
			<p class="flex-item-title">Title</p>
			<p class="info">Engineer</p>
		</div>
		<div class="flex-item wrap-member">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97475&w=300&h=350" alt="">
			<p class="flex-item-title">Title</p>
			<p class="info">Engineer</p>
		</div>
		<div class="flex-item wrap-member">
			<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97475&w=300&h=350" alt="">
			<p class="flex-item-title">Title</p>
			<p class="info">Engineer</p>
		</div>
	</div>
</div>