<div class="section section-work">
    <div class="lk-squeeze">
        <div class="flex-container">
            <div class="flex-item">
                <img src="http://placehold.it/600x400" />
                <h4>PROJECT NAME</h4>
                <h5>TECHNOLOGIES</h5>
                <p>DESCRIPTION</p>
            </div>
            <div class="flex-item">
                <img src="http://placehold.it/600x400" />
                <h4>PROJECT NAME</h4>
                <h5>TECHNOLOGIES</h5>
                <p>DESCRIPTION</p>
            </div>
            <div class="flex-item">
                <img src="http://placehold.it/600x400" />
                <h4>PROJECT NAME</h4>
                <h5>TECHNOLOGIES</h5>
                <p>DESCRIPTION</p>
            </div>
            <div class="flex-item">
                <img src="http://placehold.it/600x400" />
                <h4>PROJECT NAME</h4>
                <h5>TECHNOLOGIES</h5>
                <p>DESCRIPTION</p>
            </div>
            <div class="flex-item">
                <img src="http://placehold.it/600x400" />
                <h4>PROJECT NAME</h4>
                <h5>TECHNOLOGIES</h5>
                <p>DESCRIPTION</p>
            </div>
        </div>
    </div>
</div>