<div class="lk-squeeze">
    <h1>Work</h1>
    <div class="flex-container wrap-work">
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Blizzard</h4>
            <h5>Web</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Merck</h4>
            <h5>Web</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>McDonalds</h4>
            <h5>Web, Facebook</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Taxbot</h4>
            <h5>Web, iOS, Android</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Petsmart</h4>
            <h5>Web, Facebook</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Academic Success for all Learners</h4>
            <h5>Web, iOS, Android</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Tomy</h4>
            <h5>Web</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Utah.gov</h4>
            <h5>Web</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Hallr</h4>
            <h5>Web, iOS, Android</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Onelife</h4>
            <h5>Web</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Petsmart</h4>
            <h5>Web, Facebook</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Gumshoe</h4>
            <h5>iOS</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Northern Title</h4>
            <h5>Web, iOS, Android</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Reminderband</h4>
            <h5>Web</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Pasturemap</h4>
            <h5>iOS</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Tresit</h4>
            <h5>Web, iOS, Android</h5>
        </div>
        <div class="flex-item wrap-sample">
            <img src="http://placehold.it/600x400" />
            <h4>Rydeshift</h4>
            <h5>Web, iOS</h5>
        </div>
    </div>
</div>
