/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    // background: color(main-1);
    background: color(accent-3);
    height: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

.lk-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: unquote('-' + config(footer));
    position: relative;
}




/*------------------------------------*\
               ¡FLEX
\*------------------------------------*/

.flex-container {
    @include flexbox();
    @include flex-flow(row wrap);
}

.flex-item {
    background: #fff;
    color: color(accent-2);
    &-title {
        font-weight: 600;
        font-size: 32px;
        padding: 10px 0 0;
    }
    .info {
        padding: 10px 0 15px;
    }
    img {
        max-width: 100%;
        width: 100%;
    }
    @media screen and (max-width: breakpoint(tablet)) {
        @include flex(0 1 calc(50% - 10px));
    }
    @media screen and (max-width: breakpoint(phone-lg)) {
        @include flex(0 1 calc(100% - 10px));
        height: auto;
    }
}




/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/

header {
    height: config(header);
    .logo {
        float: left;
    }
    nav {
        float: left;
    }
}




/*------------------------------------*\
              ¡TEAM PAGE
\*------------------------------------*/

.wrap-team {
    @include justify-content(space-between);
}

.wrap-member {
    @include flex(0 1 calc(33% - 10px));
    margin-bottom: 10px;
    text-align: center;
    &-title {
        font-weight: 600;
        font-size: 32px;
        padding: 10px 0 0;
    }
}




/*------------------------------------*\
              ¡WORK PAGE
\*------------------------------------*/

.wrap-work {
    @include justify-content(space-between);
}

.wrap-sample {
    @include flex(0 1 calc(50% - 10px));
    margin-bottom: 20px;
    h4 {
        
    }
    h5 {

    }
    
}





/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/

.lk-push,
footer {
    height: config(footer);
}