/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    // background: color(main-1);
    background: color(accent-3);
    height: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

.lk-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: unquote('-' + config(footer));
    position: relative;
}




/*------------------------------------*\
               ¡SECTION
\*------------------------------------*/




/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/

header {
    height: config(header);
}




/*------------------------------------*\
                ¡WORK
\*------------------------------------*/

.section-work {
    
}





/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/

.lk-push,
footer {
    height: config(footer);
}